.favs {
  text-align: center;
  padding: 20px;
  height: 90vh;
  padding: 30px;
}

.title-favs {
  margin: 0;
  padding: 30px;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #963411; 
  text-align: center;
  border-radius: 5px;
  background-color: rgba(150, 52, 17, 0.1); 
}

.advertencia {
  color: #901313; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  border: 1px solid #ff0000; 
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.1);
}

.card-favs {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.borrar-button {
  background-color: #ff0000; 
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.borrar-button:hover {
  background-color: #cc0000; 
}
