.footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}

.button-class {
  margin: 5px;
  background: none;
  border: none;
  padding: 0;
  font-size: 0;
  cursor: pointer;
}

.face {
  background-color: #3b5998; 
  border: 3px solid #3b5998;
  border-radius: 10px;
}

.ig {
  background-color: #bc2a8d; 
  border: 3px solid #bc2a8d;
  border-radius: 10px;
}

.tik {
  background-color: #2c9fa3; 
  border: 3px solid #2c9fa3;
  border-radius: 10px;
}

.wp {
  background-color: #25d366; 
  border: 3px solid #25d366;
  border-radius: 10px;
}

.images img {
  width: 40px;
  margin: 30px;
}

.info-footer {
  display: flex;
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
